.game_board {
  background-color: $color-lightgray;

  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  position: absolute;
  width: 100%;

  &_item {
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 5rem;
    justify-content: center;
    padding: 10px;

    i {
      animation: fade_in 0.2s ease-in forwards;
    }
  }
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
